div {
  animation: flyIn 0.5s, skewLeft 0.25s 0.5s, shootRight 0.5s 0.75s;
  animation-fill-mode: forwards;
}

@keyframes flyIn {
  from {
    opacity: 0;
    transform: translateY(300%) scale(0);
  }
}

@keyframes skewLeft {
  to {
    transform: skew(40deg);
  }
}

@keyframes shootRight {
  to {
    opacity: 0;
    transform: skew(-60deg) translateX(100vw);
  }
}