div {
  animation-name: increase;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

div:nth-of-type(1) {
  animation-timing-function: ease;
}

div:nth-of-type(2) {
  animation-timing-function: ease-in;
}

div:nth-of-type(3) {
  animation-timing-function: ease-out;
}

div:nth-of-type(4) {
  animation-timing-function: ease-in-out;
}

div:nth-of-type(5) {
  animation-timing-function: linear;
}

div:nth-of-type(6) {
  animation-timing-function: cubic-bezier(.15, .5, 1, 0);
}

div:nth-of-type(7) {
  animation-timing-function: steps(10);
}

@keyframes increase {
  0% {
    width: 15%;
  }
  100% {
    width: 100%;
  }
}