div {
  animation: flyIn .5s, rotate .5s .75s, flyOut 1.5s 1.5s;
  animation-fill-mode: forwards;
}

@keyframes flyIn {
  from {
    opacity: 0;
    transform: translateY(300%) scale(0);
  }
}

@keyframes rotate {
  to {
    transform: rotate(45deg);
  }
}

@keyframes flyOut {
  from {
    transform: rotate(45deg);
  }
  to {
    opacity: 0;
    transform: rotate(-45deg) translateX(100vw) scale(0);
  }
}