body > div {
  animation-name: backgroundLight;
  animation-duration: .15s;
  animation-delay: 1.15s;
  animation-fill-mode: forwards;
}

div>div:nth-of-type(1) {
  animation-name: lightsOff;
  animation-duration: .15s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

div>div:nth-of-type(2) {
  animation-name: lightsOn;
  animation-duration: .15s;
  animation-delay: 1.15s;
  animation-fill-mode: backwards;
}

@keyframes lightsOff {
  to {
    color: #000;
  }
}

@keyframes lightsOn {
  from {
    color: #000;
  }
}

@keyframes backgroundLight {
  to {
    background-color: #fff;
  }
}

